<div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom"> Quản Lý Nhà Sách</div>
    <div class="list-group list-group-flush my-3">
        <a href="/dashboard" id="home-link" class="list-group-item list-group-item-action bg-transparent second-text fw-bold ">
            <i class="fa-solid fa-house"></i> Trang chủ</a>
        <a href="/dashboard/book" id="book-link" class="list-group-item list-group-item-action bg-transparent second-text">
            <i class="fa-solid fa-book"></i> Quản Lý Sách</a>
        <a href="/dashboard/category" id="category-link" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fa-solid fa-address-book"></i> Thể Loại Sách</a>
        <a href="/dashboard/author" id="author-link" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fa-solid fa-book-open-reader"></i> Quản Lý Tác Giả</a>
        <a href="#" id="staff-link" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fa-solid fa-user "></i> Quản Lý Nhân Viên</a>
        <a href="#" id="receipt-link" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-duotone fa-money-bill"></i> Quản Lý hóa đơn</a>
        <a href="/access/signout" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold"><i
                class="fas fa-power-off me-2"></i> Đăng xuất</a>
    </div>
</div>