<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/dashboardBook.css" />
    <title>Quản Lý Sách</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <%- include('partials/navbar') %>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
                    
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                  
                    
               
                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-user me-2"></i>Huy hà
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Thông Tin</a></li>
                                <li><a class="dropdown-item" href="#">Cài đặt</a></li>
                                <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <main>
                <div class="navigation">
                        
                    <div class="search-container">
                        <input type="text" class="search-container" placeholder="Tìm kiếm...">
                        <button type="submit" class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
                      </div>
                </div>

                <div class="addbook">
                  <section id="add-book" style="display:none">
                    <div>
                      <h2>Thêm sách</h2>
                    </div>
                    <div>
                      <button id="close-add-button" style="float: right;"> Đóng </button>
                    </div>
                    <div class="form-container">
                      <form>
                        <div class="form-row">
                          <label for="name">Tên:</label>
                          <input type="text" id="name" name="title" required>
                        </div>
                        <div class="form-row">
                          <label for="title">Thể loại:</label>
                          <input type="text" id="title" name="title" required>
                        </div>
                        <div class="form-row">
                          <label for="author">Tác giả:</label>
                          <input type="text" id="author" name="author" required>
                        </div>
                        <div class="form-row">
                          <label for="number">Số lượng:</label>
                          <input type="text" id="number" name="title" required>
                        </div>
                        <div class="form-row">
                          <label for="price">Giá:</label>
                          <input type="text" id="price" name="isbn" required>
                        </div>
                        <button type="submit">Thêm</button>
                      </form>
                    </div>
                  </section> 
                </div>
                

              </main>
                <table id="book-table">
                    <thead>
                      <tr>
                        <th>Tên sách</th>
                        <th>Thể loại sách</th>
                        <th>Tác giả</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                        <button id="add-btn">Thêm sách</button>
                      <tr>
                        <td>Không Gia Đình</td>
                        <td>Gia Đình</th>
                        <td>Hector Mallor</td>
                        <td>10</td>
                        <td>80.000VND</td>
                        <td><button class="edit-button" id="edit-btn">Chỉnh sửa</button></td>
                        <td><button class="delete-button" id="delete-btn">Xóa</button></td>
                      </tr>
                    </tbody>
                  </table>
                 
                  <div class="edit-book">
                    <section id="edit-book" style="display: none;">
                      <div>
                        <h2>Chỉnh sửa sách</h2>
                      </div>
                      <div>
                        <button id="close-edit-btn" style="float: right;">Đóng</button>
                      </div>
                      <div class="form-container">
                        <form>
                          <div class="form-row">
                            <label for="edit-name">Tên:</label>
                            <input type="text" id="edit-name" name="edit-title" required>
                          </div>
                          <div class="form-row">
                            <label for="edit-title">Thể loại:</label>
                            <input type="text" id="edit-title" name="edit-title" required>
                          </div>
                          <div class="form-row">
                            <label for="edit-author">Tác giả:</label>
                            <input type="text" id="edit-author" name="edit-author" required>
                          </div>
                          <div class="form-row">
                            <label for="edit-number">Số lượng:</label>
                            <input type="text" id="edit-number" name="edit-number" required>
                          </div>
                          <div class="form-row">
                            <label for="edit-price">Giá:</label>
                            <input type="text" id="edit-price" name="edit-price" required>
                          </div>
                          <button type="submit">Lưu</button>
                        </form>
                      </div>
                    </section>
                  </div>
           
              </main>

            
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    </div>
    <script src="/scripts/bootstrap.bundle.min.js"></script>
    <script src="/scripts/dashboardBook.js"></script>
</body>
</html>