<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/images/logo.ico" type="image/x-icon" />
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <!-- Upload CSS-->
    <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.2.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/forgetPassword.css">
    <title>Quên mật khẩu</title>
</head>
<body>
    <div class="container d-flex flex-row align-content-center">
        <div class="container-child d-flex flex-row ">
            <div class="logo d-flex justify-content-center align-content-center">
                <img src="/images/logo.png" alt="" class="img-logo align-self-center">
            </div>
            <div class="content d-flex flex-column align-content-center">
                <h2 class="text align-self-center">Quên Mật Khẩu</h2>
                <p class="sub-text align-self-center">Nhập tên tài khoản bạn muốn đổi mật khẩu</p>
                <form method="post" class="form align-self-center">
                    <div class="form-group">
                        <img src="/images/identity.png" class="image">
                        <input type="text" id="email" name="email" class="input-field" placeholder=" " autocomplete="off">
                        <label for="username" class="label">Tài khoản</label>
                        <div class="checkName"></div>
                    </div>
                    <div class="d-flex flex-row justify-content-center">
                        <input type="submit" formaction="/access/forget-password" value="Đổi mật khẩu" class="submit align-self-center mt-4">
                    </div>                 
                </form>

    <!--            {{#if error}}
                    <div class="alert alert-danger d-flex align-items-center mt-1 alert-dismissible" role="alert"> 
                        <i class="fas fa-exclamation-triangle danger_icon"></i> 
                        <div> {{message}} </div>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {{/if}}
            </div>
        </div>
    </div> -->
</body>

</html>