.search-container {
    display: flex;
    align-items: center; /* căn giữa theo chiều dọc */
    justify-content: center; /* căn giữa theo chiều ngang */
    width: 100%;
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    width: 70%; /* chiếm 70% của bộ khung tìm kiếm */
  }
  h2 {
    margin-bottom: 16px;
  }
  
  #close-add-button,
  #close-edit-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #f44336;
  }
  
  
  form label {
    display: block;
    margin-bottom: 8px;
  }
  
  form input[type=text] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
  
  form input[type=submit] {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #4CAF50;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  td {
    background-color: #f2f2f2;
  }
  
  .edit-button, .delete-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
  }
  
  .edit-button {
    background-color: #4CAF50;
    align-items: center;
    justify-content: center;
    width: 100%;

  }
  
  .delete-button {
    background-color: #f44336;
    align-items: center;
    justify-content: center;
    width: 100%;

  }
  #add-btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background-color: var(--main-text-color);
    margin-bottom: 16px;
  }
  #book-table td:nth-child(5) {
    width: 100px;
  }

  .category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .category-list,
  .category-form,
  .category-actions {
    flex-basis: 30%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .category-list h2,
  .category-form h2,
  .category-actions h2 {
    margin-top: 0;
  }
  
  .category-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .category-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .button-container button {
    background-color: blue;
    color: white;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #cancel-category-button {
    background-color: red;
  }
  
  #category-list li {
    margin-bottom: 5px;
    cursor: pointer;
  }
  
    
  
  