.search-container {
  display: flex;
  align-items: center; /* căn giữa theo chiều dọc */
  justify-content: center; /* căn giữa theo chiều ngang */
  width: 100%;
  border-radius: 30px;
}
.search-container input[type="text"] {
  width: 80%;
  padding: 10px;
  border-radius: 30px;
  border: none;
  
}
.search-container button[type="submit"] {
  width: 5%;
  background-color: #27ae60;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 30px;
  
}
  
  input[type="text"] {
    padding: 10px;
    border: none;
    width: 70%; /* chiếm 70% của bộ khung tìm kiếm */
  }
  h2 {
    margin-bottom: 16px;
  }
  

  /* căn lề đề mục */
h2 {
  margin-left: 10px;
}

.edit-cate-button {
  background-color: #4CAF50;
  align-items: center;
  justify-content: center;
  

}

.delete-cate-button {
  background-color: #f44336;
  align-items: center;
  justify-content: center;
  

}

/* nút thêm mới */
#add-category-button {
  margin: 10px;
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

/* bảng dữ liệu */
#cate-table {
  margin: 10px;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

/* đầu bảng */
thead th {
  text-align: center;
  background-color: #27ae60;
  color: #ffffff;
  padding: 10px;
}
tbody td{
  text-align: center;

}

/* ô dữ liệu */
td {
 
  padding: 10px;
  background-color: #ffffff;
}

/* nút chỉnh sửa */
.edit-cate-button {
  background-color: #27ae60;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

/* nút xóa thể loại */
#delete-category-btn {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

/* Form Thêm mới */
.category-add {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: none;
  width: 400px;
}

.category-add h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.category-add input[type="text"] {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}



.category-add button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #27ae60;
  color: #ffffff;
  cursor: pointer;
}

.category-add button:hover {
  background-color: #27ae60;
}

/* Form sửa */
.category-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: none;
  width: 400px;
}

.category-edit h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.category-edit input[type="text"] {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.category-edit  button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  background-color: #27ae60;
  color: #ffffff;
  cursor: pointer;
}

.category-edit  button:hover {
  background-color: #3e8e41;
}


  
    
  
  