.search-container {
  display: flex;
  align-items: center; /* căn giữa theo chiều dọc */
  justify-content: center; /* căn giữa theo chiều ngang */
  width: 100%;
  border-radius: 30px;
  
}
.search-container input[type="text"] {
  width: 80%;
  padding: 10px;
  border-radius: 30px;
  border: none;
  
}
.search-container button[type="submit"] {
  width: 5%;
  background-color: #27ae60;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 30px;
  
}

button.search:hover {
  background-color: (var(--));
}


#add-book{
height: 550px;
width: 500px; /* Đặt chiều rộng cho phần tử */
margin: 0 auto; /* Đặt lề để căn giữa theo chiều ngang */
padding: auto; /* Đặt khoảng cách giữa các phần tử bên trong phần tử */
position: relative; /* Đặt vị trí để có thể sử dụng các thuộc tính top, bottom, left, right */
top: 20%; /* Đặt vị trí theo chiều dọc */
transform: translateY(-20%);
background-color: #f2f2f2;
box-shadow: 0px 0px 10px #888888; 

}

#add-book h2 {
text-align: left;
float: left;
width: 50%;
margin-top: 0; /* Xóa khoảng cách trên đầu tiêu đề */
font-size: 24px; /* Đặt cỡ chữ cho tiêu đề */
}
#add-book form label {
text-align: justify;
}
.form-container {
clear: both;
}
#add-book form input {
width: 100%;
margin-bottom: 10px;
}

#add-book form button {
display: block;
margin: 10px auto;
}
#add-book form input[type="text"], #add-book form button[type="submit"] {
padding: 8px; /* Đặt khoảng cách giữa các phần tử input và button */
border-radius: 5px; /* Đặt bo góc cho input và button */
border: none; /* Xóa viền cho input và button */
font-size: 16px; /* Đặt cỡ chữ cho input và button */
}

#add-book form button[type="submit"] {
background-color: #4CAF50; /* Đặt màu nền cho button */
color: white; /* Đặt màu chữ cho button */
cursor: pointer; /* Đặt con trỏ chuột thành con trỏ tay */
}

#add-book form button[type="submit"]:hover {
background-color: #3e8e41; /* Đặt màu nền cho button khi hover */
}

#add-book form label {
display: block; /* Hiển thị label theo dạng khối */
 /* Đặt khoảng cách dưới mỗi label */
font-size: 16px; /* Đặt cỡ chữ cho label */
}

.addbook {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 9999;
border-radius: 10px;
}

#close-add-btn {
  float: right;
}
#add-book form button[type="submit"] {
  float: right;
  margin-right: 10px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  width: 70%; /* chiếm 70% của bộ khung tìm kiếm */
}
h2 {
  margin-bottom: 16px;
}

#close-add-btn,
#close-edit-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #f44336;
}


form label {
  display: block;
  margin-bottom: 8px;
}

form input[type=text] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

form input[type=submit] {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: #4CAF50;
}

table {
  
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 12px;
  
  border-bottom: 1px solid #ddd;
}

th {
  text-align: center;
  color: #f2f2f2;
  background-color: #27ae60;
}
tbody td{
  text-align: center;
}
td {
  background-color: #ffffff;
}

.edit-button, .delete-button {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}

.edit-button {
  background-color: #4CAF50;
  align-items: center;
  justify-content: center;
  

}

.delete-button {
  background-color: #f44336;
  align-items: center;
  justify-content: center;
  
}
#add-btn, #submit-add-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background-color: var(--main-text-color);
  margin-bottom: 16px;
}
#book-table td:nth-child(5) {
  width: 100px;
}

#edit-book {
  height: 550px;
  width: 500px; /* Đặt chiều rộng cho phần tử */
  margin: 0 auto; /* Đặt lề để căn giữa theo chiều ngang */
  padding: 20px; /* Đặt khoảng cách giữa các phần tử bên trong phần tử */
  position: relative; /* Đặt vị trí để có thể sử dụng các thuộc tính top, bottom, left, right */
  top: 20%; /* Đặt vị trí theo chiều dọc */
  transform: translateY(-20%);
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px #888888; 

}

#edit-book  h2 {
  text-align: left;
  float: left;
  width: 50%;
  margin-top: 0; /* Xóa khoảng cách trên đầu tiêu đề */
  font-size: 24px; /* Đặt cỡ chữ cho tiêu đề */
}
#edit-book form label {
  text-align: justify;
}
.form-container {
  clear: both;
}
#edit-book form input {
  width: 100%;
  margin-bottom: 10px;
}

#edit-book form input[type="text"], #edit-book form button[type="submit"] {
  padding: 8px; /* Đặt khoảng cách giữa các phần tử input và button */
  border-radius: 5px; /* Đặt bo góc cho input và button */
  border: none; /* Xóa viền cho input và button */
  font-size: 16px; /* Đặt cỡ chữ cho input và button */
}
.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  margin-left: 10px;
}

#edit-book form button[type="submit"] {
  background-color: #4CAF50; /* Đặt màu nền cho button */
  color: white; /* Đặt màu chữ cho button */
  cursor: pointer; /* Đặt con trỏ chuột thành con trỏ tay */
}

#edit-book form button[type="submit"]:hover {
  background-color: #3e8e41; /* Đặt màu nền cho button khi hover */
}

#edit-book  form label {
  display: block; /* Hiển thị label theo dạng khối */
  margin-bottom: 10px; /* Đặt khoảng cách dưới mỗi label */
  font-size: 16px; /* Đặt cỡ chữ cho label */
}

.edit-book  {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 10px;
}
